<template>
    <nav>
        <div class="nav-wrapper container">
            <a onclick="singleSpaNavigate('/ngJS')" class="brand-logo">Single SPA</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a onclick="singleSpaNavigate('/react')">React</a></li>
                <li><a onclick="singleSpaNavigate('/angular')">Angular</a></li>
            </ul>
        </div>
    </nav>
</template>
