<div ng-style='vm.styles'>
  <div class="container">
    <div class="row">
      <h4 class="light">
        Funny cats!
      </h4>
      <p class="caption">
        AngularJS 1.7 and angular-ui-router example.
      </p>
    </div>
    <div>
      <!-- These Routes will be set up in the routes.js file -->
      <a class="waves-effect waves-light btn-large" href="/ngJS/gifs" style="margin-right: 10px">
        Cats
      </a>
      <a class="waves-effect waves-light btn-large" href="/ngJS" style="margin-right: 10px">
        Enough
      </a>
    </div>
    <div class="row">
      <ui-view />
    </div>
  </div>
</div>
