html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", sans-serif;
  background-color: lightslategray;

  .result-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
